{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": [
          "warn",
          {
            "allowExpressions": true
          }
        ],
        "@typescript-eslint/no-explicit-any": ["warn", { "ignoreRestArgs": true }]
      }
    }
  ],
  "rules": {
    "space-before-function-paren": "off",
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "no-return-await": "error",
    "keyword-spacing": [
      2,
      {
        "overrides": {
          "await": { "before": false }
        }
      }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "caughtErrors": "all" }
    ],
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "caughtErrors": "all" }
    ],
    "no-param-reassign": 2
  }
}
