# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript
dist
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.env

coverage

.DS_STORE

codeship.aes